.set {
  display: flex;
  flex-flow: row wrap;
}

.wrapper {
  display: grid;
  height: 800px;
  background-color: beige;
  grid-template-rows: repeat(24, 1fr);
}

.a {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: aqua;
}
.b {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: burlywood;
}
.c {
  grid-column: 2/4;
  grid-row: 1/3;
  background-color: darkgreen;
}
