html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
.set {
  display: flex;
  flex-flow: row wrap;
}

.wrapper {
  display: grid;
  height: 648px;
  /* background-color: beige; */
  grid-template-rows: repeat(24, 1fr);
  position: absolute;
  top: 41px;
}

.title {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-width: 1px 1px 0px;
  border-style: solid;
  background-color: tan;
  text-align: center;
}

.flexbox {
  width: auto;
  height: 648px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  border: solid 1px gray;
}

.blockgray {
  background-color: wheat;
  /* width: 144px;
  height: 26px; */
  border-bottom: dashed 1px #d6d2d2;
}

.blockwhite {
  background-color: white;
  /* width: 144px;
  height: 26px; */
  border-bottom: dashed 1px #d6d2d2;
}

.binder {
  position: relative;
}

.table {
  position: absolute;
}

.program-time {
  width: 70px;
  height: 687px;
  background-color: bisque;
  border: 1px solid #d6d2d2;
  text-align: center;
}
.times {
  width: 70px;
  height: 26px;
  line-height: 26px;
  background-color: white;
}
.hours-gray {
  width: 70px;
  height: 27px;
  line-height: 27px;
  background-color: #ad9999;
}
.hours-white {
  width: 70px;
  height: 27px;
  line-height: 27px;
  background-color: white;
}

.body-left {
  width: 144px;
  height: 687px;
  background-color: #f4f2f2;
  border: 1px solid #d6d2d2;
}
.body-select {
  width: 144px;
  height: 348px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.title-select {
  width: 144px;
  height: 60px;
  font-size: 40px;
}
#starttime-select {
  width: 120px;
  height: 21px;
}
#endtime-select {
  width: 120px;
  height: 21px;
}
#message {
  width: 120px;
  height: 162px;
}
button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: white;
  border: none;
  border-radius: 4px;
  border: solid 1px #d6d2d2;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  color: black;
  line-height: 12px;
}
.submit {
  float: right;
  margin-right: 10px;
}
.submit:hover {
  background-color: rgb(100, 100, 192);
  color: white;
}
@media (max-width: 375px) {
  .body-left {
    width: 375px;
    height: 96px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .body-select {
    width: 323px;
    height: 96px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .title-select {
    width: 40px;
    height: 96px;
    font-size: 15px;
  }
  #starttime-select {
    width: 96px;
    height: 17px;
    margin-bottom: 15px;
  }
  #endtime-select {
    width: 96px;
    height: 17px;
  }
  #message {
    width: 160px;
    height: 54px;
  }
  .submit {
    width: 39px;
    height: 18px;
    margin-bottom: 18px;
  }
}
