.set {
  display: flex;
  flex-flow: row wrap;
}

.wrapper {
  display: grid;
  height: 648px;
  /* background-color: beige; */
  grid-template-rows: repeat(24, 1fr);
  position: absolute;
}

.title {
  width: auto;
  height: 26px;
  border-width: 1px 1px 0px;
  border-style: solid;
  background-color: tan;
  text-align: center;
  line-height: 26px;
}

.flexbox {
  width: auto;
  height: 648px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  border: solid 1px gray;
}

.blockgray {
  background-color: wheat;
  width: 144px;
  height: 26px;
  border-bottom: dashed 1px #d6d2d2;
}

.blockwhite {
  background-color: white;
  width: 144px;
  height: 26px;
  border-bottom: dashed 1px #d6d2d2;
}

.binder {
  position: relative;
}

.table {
  position: absolute;
}
